.counter {
    display: flex;
    width: 140px;
    height: 140px;
    background-color: rgb(255, 255, 255);
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 .6rem;
    border-radius: 10px;
    box-shadow: 19px 23px 57px -18px rgba(34,240,41,1);
}

.counter-number {
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    color: #545252;
    
}

.counter-text {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: .2rem 0;
    background: #999;
    font-weight: 500;
    font-size: 1.2rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}